# We use npm, not yarn
yarn.lock

node_modules/

/protos/ibc-go
/protos/wasmd

/build/
/confio/
/cosmos/
/cosmos_proto/
/cosmwasm/
/gogoproto/
/google/
/ibc/
/tendermint/
/binary.*
/helpers.*
/index.*
/utf8.*
/varint.*

# IDEs
.vscode/

# macOS
.DS_Store
