[submodule "cosmos-sdk"]
	path = protos/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "wasmd"]
	path = protos/wasmd-src
	url = https://github.com/CosmWasm/wasmd.git
[submodule "ibc-go"]
	path = protos/ibc-go-src
	url = https://github.com/cosmos/ibc-go
[submodule "protos/pob"]
	path = protos/pob
	url = https://github.com/skip-mev/pob
